In [103]:
import pandas as pd
from scipy import stats
from statsmodels.formula.api import ols

In [104]:
raw = pd.read_csv('nature-alddist-counts.csv', index_col=0, header=0)
raw = raw.drop(['nan'], axis=1)
raw.head()

,14.0,8.0,3.0,7.0,10.0,4.0,6.0,13.0,5.0,1.0,0.0,11.0,9.0,12.0,2.0,Total
Nature,,,,,,,,,,,,,,,,
All,10864,17666,14314,7830,21619,15593,7134,3142,9478,11458,6392,9472,21931,11013,6333,177218
BUSINESS CHECK,1660,1194,1935,2947,2845,819,1511,672,1176,1605,951,2332,1968,1639,2813,26769
TRAFFIC STOP,555,734,676,596,1413,1475,253,288,1012,985,523,528,919,236,329,10694
RETURN STATION,2040,2527,2688,19,2154,2257,706,0,169,787,7,16,1451,2224,15,17408
TRBL W/SUBJ,405,715,454,675,1077,625,215,307,793,645,379,789,1674,340,318,9512

In [105]:
calls = []
callRates = []
natures = []
locs = []

df = raw.copy()
for i, row in df.iterrows():
    if i != 'All':
        for col in df.columns:
            calls.append(df.loc[i, col])
            natures.append(i)
            locs.append(col)
            df.loc[i, col] /= df.loc['All', col]
            callRates.append(df.loc[i, col])
df = df.drop(['Total'], axis=1)
df.head()

,14.0,8.0,3.0,7.0,10.0,4.0,6.0,13.0,5.0,1.0,0.0,11.0,9.0,12.0,2.0
Nature,,,,,,,,,,,,,,,
All,10864.000000,17666.000000,14314.000000,7830.000000,21619.000000,15593.000000,7134.000000,3142.000000,9478.000000,11458.000000,6392.000000,9472.000000,21931.000000,11013.000000,6333.000000
BUSINESS CHECK,0.152798,0.067587,0.135182,0.376373,0.131597,0.052524,0.211803,0.213877,0.124077,0.140077,0.148780,0.246199,0.089736,0.148824,0.444181
TRAFFIC STOP,0.051086,0.041549,0.047226,0.076117,0.065359,0.094594,0.035464,0.091661,0.106774,0.085966,0.081821,0.055743,0.041904,0.021429,0.051950
RETURN STATION,0.187776,0.143043,0.187788,0.002427,0.099635,0.144744,0.098963,0.000000,0.017831,0.068686,0.001095,0.001689,0.066162,0.201943,0.002369
TRBL W/SUBJ,0.037279,0.040473,0.031717,0.086207,0.049817,0.040082,0.030137,0.097708,0.083667,0.056293,0.059293,0.083298,0.076330,0.030873,0.050213

In [106]:
callRate = pd.DataFrame(data={'Call_Rate': callRates, 'Nature': natures, 'Location': locs})
callRate.to_csv('call_rates.csv')
callRate.head()

   Call_Rate          Nature Location
0   0.152798  BUSINESS CHECK     14.0
1   0.067587  BUSINESS CHECK      8.0
2   0.135182  BUSINESS CHECK      3.0
3   0.376373  BUSINESS CHECK      7.0
4   0.131597  BUSINESS CHECK     10.0

In [107]:
callRate.loc[callRate['Nature'] == 'BUSINESS CHECK']

    Call_Rate          Nature Location
0    0.152798  BUSINESS CHECK     14.0
1    0.067587  BUSINESS CHECK      8.0
2    0.135182  BUSINESS CHECK      3.0
3    0.376373  BUSINESS CHECK      7.0
4    0.131597  BUSINESS CHECK     10.0
5    0.052524  BUSINESS CHECK      4.0
6    0.211803  BUSINESS CHECK      6.0
7    0.213877  BUSINESS CHECK     13.0
8    0.124077  BUSINESS CHECK      5.0
9    0.140077  BUSINESS CHECK      1.0
10   0.148780  BUSINESS CHECK      0.0
11   0.246199  BUSINESS CHECK     11.0
12   0.089736  BUSINESS CHECK      9.0
13   0.148824  BUSINESS CHECK     12.0
14   0.444181  BUSINESS CHECK      2.0
15   0.151051  BUSINESS CHECK    Total